<%= form_with model: creaturetype do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% creaturetype.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :HP %><br>
    <%= form.number_field :HP %>
    <% creaturetype.errors.full_messages_for(:HP).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :AC %><br>
    <%= form.number_field :AC %>
    <% creaturetype.errors.full_messages_for(:AC).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :proficiency %><br>
    <%= form.number_field :proficiency %>
    <% creaturetype.errors.full_messages_for(:proficiency).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>