<h1><%= @creaturetype.name %></h1>

<p> <%= "HP: " + @creaturetype.HP.to_s %> </p>
<p> <%= "AC: " + @creaturetype.AC.to_s %> </p>
<p> <%= "Proficiency: +" + @creaturetype.proficiency.to_s %> </p>

<table>
<thead>
  <tr>
    <th>STR</th>
    <th>DEX</th>
    <th>CON</th>
    <th>INT</th>
    <th>WIS</th>
    <th>CHA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @creaturetype.STR.to_s %></td>
    <td><%= @creaturetype.DEX.to_s %></td>
    <td><%= @creaturetype.CON.to_s %></td>
    <td><%= @creaturetype.INT.to_s %></td>
    <td><%= @creaturetype.WIS.to_s %></td>
    <td><%= @creaturetype.CHA.to_s %></td>
  </tr>
</tbody>
</table>

<h2>Attacks</h2>
<ul>
    <% @creaturetype.attacks.each do |attack| %>
        <li>
        <%= link_to attack.name, attack %>
        </li>
    <% end %>

</ul>

<%= link_to "Add attack", action: "new", controller: "attacks", params: {id: @creaturetype.id} %>

<ul>
    <li> <%= link_to "Edit", edit_creaturetype_path(@creaturetype) %> </li>
    <li> <%= link_to "Destroy", creaturetype_path(@creaturetype),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %> </li>
</ul>