<h1><%= @player.name %></h1>

<p> <%= "HP: " + @player.HP.to_s %> </p>
<p> <%= "AC: " + @player.AC.to_s %> </p>
<p> <%= "Proficiency: +" + @player.proficiency.to_s %> </p>

<table>
<thead>
  <tr>
    <th>STR</th>
    <th>DEX</th>
    <th>CON</th>
    <th>INT</th>
    <th>WIS</th>
    <th>CHA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @player.STR.to_s %></td>
    <td><%= @player.DEX.to_s %></td>
    <td><%= @player.CON.to_s %></td>
    <td><%= @player.INT.to_s %></td>
    <td><%= @player.WIS.to_s %></td>
    <td><%= @player.CHA.to_s %></td>
  </tr>
</tbody>
</table>

<h2>Attacks</h2>
<ul>
    <% @player.attackplayers.each do |attackplayer| %>
        <li>
        <%= link_to attackplayer.name, attackplayer %>
        </li>
    <% end %>

</ul>
<%= link_to "Add attack", action: "new", controller: "attackplayers", params: {id: @player.id} %>

<ul>
    <li> <%= link_to "Edit", edit_player_path(@player) %> </li>
    <li> <%= link_to "Destroy", player_path(@player),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %> </li>
</ul>
